.card{
    width: 180px; height: 230px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-component-color);
    transition: background-color .3s;

    &:hover{
        background: var(--bg-hover);
        cursor: pointer;
    }

    @media (max-width: 429px) {
        width: 80%;
    }
}

.name{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

.number{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
}