.searchPokemons{
  position: relative;
  .input{
    width: 300px;
    outline: none;
    border-radius: 5px;
    padding: 3px 10px;
    border: 1px solid rgba(66, 66, 66, 0.82);
    height: 25px;
    @media (max-width: 700px) {
      width: 200px;
      margin-top: 3px;
      font-size: 10px;
    }
    @media (max-width: 500px) {
      width: 150px;
      padding: 2px 3px;
      margin-top: 3px;
      font-size: 9px;
      height: 22px;
    }
    @media (max-width: 380px) {
      width: 100px;
    }
  }
}
