
.header{
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  height: 72px;
}

.pokemonHeader{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.toBack{
  width: 35px;
  height: 35px;
  cursor: pointer;
  img{
    width: 100%;
    padding: 0 3px;
    border-radius: 4px;
    margin-top: 5px;
    &:hover{
      background: rgba(255, 255, 255, 0.16);
    }
  }
}

.addToFavorite{
  height: 25px;
  button{
    padding: 6px 12px;
    font-size: 17px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover{
      background: rgba(255, 255, 255, 0.18);
      cursor: pointer;
    }
  }
}
