.mainHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  @media (max-width: 500px) {
    gap: 3px;
  }
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  background: var(--bg-primary-color);
}