.app.light {
    --bg-primary-color: #fff;
    --bg-secondary-color: #f4f4f4;
    --bg-component-color: #fff;
    --bg-hover: rgb(0 0 0 / 5%);
    --primary-color: #000;
    --secondary-color: #404258;
}