.authHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.shadow{
    box-shadow: rgb(0 0 0 / 10%) 0 0 5px 0, rgb(0 0 0 / 10%) 0 0 1px 0;
    background: var(--bg-primary-color);
}